.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  height: 10px;
  form {
    display: flex;
    align-items: center;

    input {
      display: flex;
      font-size: 20px;
      height: 20px;
      border-radius: 0;
      -webkit-appearance: none;
      border: 1px solid lightgray;
      padding: 10px;
      outline: none;
      overflow: hidden;
      border-right: hidden;
    }
    button {
      border-left: hidden;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  button {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: max-content;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
  }
}
