.outter {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    padding-bottom: 1em;
    background-color: white;
    margin: 10em 5em;
    border-radius: 10px;
    width: 18em;
  }
}
